@media only screen and (max-width: 600px) {
    .sidebar{
        overflow-x: auto;
        overflow-y: hidden;
        width: 100% !important;
        flex-direction: row !important;
    }
    .sidebar .MuiList-root{
        display: flex;
        max-width: unset !important;
        flex-direction: row;
    }

    .sidebar .MuiList-root .MuiListItem-root{
        border-right: 1px solid #dfdfdf;
    }

    .sidebar .menu-item svg{
        margin-right: 0;
    }

    .sidebar img{
    }
  }

.sidebar{
    display: flex;
    background: #157372 !important;
    color: rgb(222, 222, 222) !important;
    flex-direction: column;
    transition: width 200ms ease-in;
}

.sidebar .menu-item.selected::before{
    border-bottom-right-radius: 20px;
    right: 0px;
    top: -20px;
}

.sidebar .menu-item.selected::after{
    border-top-right-radius: 20px;
    right: 0px;
    bottom: -20px;
}

.sidebar .menu-item.selected::after, .sidebar .menu-item.selected::before{
    pointer-events: none;
    right: 0px;
    width: 40px;
    height: 20px;
    background: transparent;
    box-shadow: 20px 0 0 0 #079692;
    position: absolute;
    content: "";
}

.sidebar .menu-item{
    cursor: pointer;
}

.sidebar .menu-item.selected{
    background-color: #079692; 
}

.sidebar .menu-item__icon{
    height: 33px;
    width: 33px !important;
    margin-right: 12px;
    flex: 0 0 auto;
}

.sidebar .menu-item__icon img{
    filter: invert(1);
    width: 100%;
    height: 100%;
}

.menu-item svg{
    fill: white;
    width: 100%;
    height: 100%;
    margin-right: 12px;
}